@charset "utf-8";
/* CSS Document */
form {
	margin: auto;
	margin-top: 20px;
}

.register-box {
	border: 1px solid #ddd;
	margin-bottom: 32px;
}

.register-box label {
	height: 52px;
	line-height: 52px;
	padding-left: 20px;
	display: inline-block;
}

.register-box input {
	width: 190px;
	padding: 5px 10px 5px;
	font-size: 14px;
	color: #666;
	font-family: "Microsoft YaHei", "Hiragino Sans GB";
}

.register-box .tips {
	position: absolute;
	margin-top: 5px;
	font-size: 14px;
	color: #ccc;
}

.register-box .username_label {
	word-spacing: 10px;
}